/* desktop first */

/* reset */
*{
    padding: 0;
    box-sizing: 0;
    margin: 0;
}

img{
    max-width: 100%;
}



/* utility*/


.flex{
    display: flex;
}

.foto{
    width: 35px;
}

.foto>img{
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1;
}

button{
    border: none;
    background-color: #d6dbd8;
    color: gray;
    cursor: pointer;
 
}




.wrapper{

    height: 100vh;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background: linear-gradient(180deg, rgb(0, 150, 136),rgb(255, 255, 255),rgb(213, 219, 217));
   
}

.cont-principale{
    width: 75%;
    height: 85%;

}


/*************************************/
/*************************************/

/* media cont principale */
@media screen and (max-width: 768px) {
    .cont-principale{
        height: 100vh;
        width: 100%;
    }
    
}

/*************************************/
/*************************************/


/* lato sinistro */

.sinistra{
    width: 30%;
    
}

.simboli-sx{
    width: 50%;
    text-align: end;
    padding: 10px;
    color: gray;
}

.header-sx {
    height: 45px;
    border-right: 1px solid   #d6dbd8;
    justify-content: space-between;
   align-items: center;
    flex-wrap: wrap;
    background-color: #d6dbd8;
    padding-left: 10px;

}

.foto>h5{
    padding-left: 10px;
    padding-top: 10px;
}

.notifiche{
    height: 45px;
    background-color:#8edafc;
    align-content: center;
    flex-wrap: wrap;
    padding-left: 10px;
    border-right: 1px solid  #d6dbd8;
    
}



.togli-notifica>i{
    padding: 8px 5px 5px 7px;
   color:#8edafc ;
   background-color: white;
   border-radius: 50%;
   object-fit: cover;
   aspect-ratio: 1;
   text-align: center;
      
}

.desc-notifica{
    padding-left: 10px;
}

.desc-notifica>h5{
    font-size: 0.7rem;
}

.desc-notifica>a{
    font-size: 0.6rem;
}


.ricerca{
    height: 35px;
    border-right: 1px solid   #d6dbd8;
    align-items: center;
    padding: 0 5px;
    background-color: #d6dbd8;
    
}

.btn-cerca{
    border: none;
    height: 70%;
    background-color: white;
    border: none;
    padding-right: 20px;
    font-size: 0.7rem;
    color: #d6dbd8;
    cursor: pointer;
}

#cerca{
   flex-grow: 1; 
   height: 70%;
   background-color: white;
   border: none;
   font-size: 0.7rem;
   color:  #d6dbd8;

}


/* toglie tipo il bordo quando ci clicchi sopra */
#cerca:focus-visible{
    outline: none;
}

.lista-contatti{
    height: calc(100% - 126px);
    
    border-right: 1px solid  #d6dbd8;
    overflow-y: scroll;
}

.contatti{
    height: 50px;
    border-top: 1px solid  #d6dbd8;
    border-bottom: 1px solid   #d6dbd8;
    background-color: white;
    align-items: center;
    padding-left: 10px;
}
/*************************************/
/*************************************/

/* hover  contatti*/

 .contatti:hover {
    background-color: rgb(177, 175, 175);
    cursor: pointer;
 }

/*************************************/
/*************************************/


.desc-contatti{
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
    flex-grow: 1;
}

.desc-contatti>h5{
    padding-left: 4px;
}


.desc-contatti>p{
    font-size: 0.5rem;
    color:  gray;
}

/*************************************/
/*************************************/

/* media cont sinistra */

@media screen and (max-width: 768px) {
    .sinistra{
      width: 76px;
       
    }

    .notifiche, .ricerca{
        display: none;
        
    }
    
    .lista-contatti{
        height: calc(100% - 46.38px);
    }

    .contatti{
        justify-content: center;
        align-items: center;
    }

    .desc-contatti{
        display: none;
    }

    .cont-laterali{
        display: none;
    }

    .simboli-sx{
       display: none;
    }
    
    .foto{
        width: 40px;
     
     }
     .header-sx {
         justify-content: center;
     }

    .foto>h5{
       display: none;
    }


}


@media screen and (max-width: 426px) {
    .sinistra{
      display: none;
       
    }
}

/*************************************/
/*************************************/





/* lato destro */

.destra{
    width: 70%;
    }

/* header destra */

.header-dx{
    height: 46.375px;
    justify-content: space-between;
    align-items: center;
    background-color: #d6dbd8;
    padding-left: 10px;
}

.nome {
    width: 50%;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}


.descrizione{
    padding-left: 10px;
    padding-top: 7px;
}

.descrizione>p{
   font-size: 0.5rem;
   color:  gray;
   padding: 5px 0;
}

.simboli{
    width: 50%;
    text-align: end;
    padding-right: 15px;
   
}



.fa-solid{
    padding-left: 10px;
}


/*************************************/
/*************************************/
/* media header destra */

@media screen and (max-width: 768px){   

}

@media screen and (max-width: 426px){
    .foto {
        width: 40px;
    }

    .simboli{
        display: none;
    }
}

/*************************************/
/*************************************/


/* main destra */

   .messaggi{
    height: calc(100% - 122.3px);
    background-image: url(../img/mine.jpg);
    padding: 15px;
    overflow-y: scroll;
    flex-direction: column;
   
   }


/*************************************/
/*************************************/
/* hover messaggi */

.scomparsa{
    display: none;
    background-color: white;
    width: 90px;
    height: 40px;
    position: absolute;
    top: 15px;
    right: 0;
}

.lateral-text:hover .scomparsa{
    display: block;
    cursor: pointer;
}


/*************************************/
/*************************************/

.testo-verde{
    max-width: 60%;
    background-color:#d5f9ba;
    border-radius: 20px;
    padding: 5px 5px 5px 10px;
    float: right;
    margin-bottom: 20px;
    font-size: 0.8rem;

}
p{
    padding: 5px;
}

.lateral-text{
    flex-direction: column;
    justify-content: space-between;
    color:gray;
    padding: 5px 7px 5px 5px;
    font-size: 0.5rem;
    position: relative;
}

.testo-bianco{
    max-width: 60%;
    min-width: 50%;
    background-color: white;
    border-radius: 20px;
    padding: 5px 5px 5px 10px;
    font-size: 0.8rem;
    margin-bottom: 20px;
    
   
}



/* footer destra */

   .footer{
    height: 45px;
    background-color: #f3eeea;

   }

   .cont-footer{
    width: 100%;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
    color: gray;
    
   }

   #scrivi{
   flex-grow: 1;
    border-radius: 5px;
    padding: 2px;
    height: 70%;
    border: none;
   }

 .fa-face-smile{
   padding: 0 7px;
    font-size: 1.4rem;
}

   .fa-microphone{
    padding-right: 10px;
    font-size: 1.4rem;
   }

   .cont-footer>button {
    background: none;
   }

/* media cont destro */

   @media screen and (max-width: 768px) {
    .destra{
      width: 90%;
       
    }
    
}


@media screen and (max-width: 426px) {
    .destra{
      width: 100vw;
      height: 100vh;
       
    }
    
    .cont-footer{
        justify-content: center;
    }
    #scrivi{
        width: 90%;
        flex-grow: unset;
    }

    button{
        display: none;
    }



}